* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212428;
}

/* Navbar Styling */
.navbar {
  font-family: Poppins, sans-serif;
  padding: 15px 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  /* color: #95c2bb; */
}

.navbar-nav .nav-link {
  font-size: 16px;
  margin: 5px 20px;
  text-transform: uppercase;
  color: #95c2bb;
  transition: 0.3s;
}

/* Hover effect */
.navbar-nav .nav-link:hover {
  color: red;
  transform: translateY(-2px);
}

/* Cart icon */
.nav-item i {
  margin-top: 15px;
  color: #ffffff;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn {
  margin: 13px;
  margin-left: 25px;
  background: #1f1f1f;
  width: 135px;
  height: 56px;
  cursor: pointer;
  color: red;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #1f1f1f;
  transform: translateY(-3px);
}

.cart-box {
  position: relative;
  width: 45px;
  height: 45px;
  background: #1f1f1f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Cart Icon */
.cart-box i {
  color: #fff;
  font-size: 20px;
}

/* Notification badge */
.cart-count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ff0055;
  color: #fff;
  width: 22px;
  height: 22px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover animation */
.cart-box:hover {
  transform: translateY(-3px);
}

/* thise is hero section */

.hero-section {
  font-family: Montserrat, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.hero-section .hero-content h3 {
  color: #878e99;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  line-height: 26.6px;
  margin: 0px 0px 20px;
  letter-spacing: 5px;
}

.hero-section .hero-content h1 {
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  line-height: 62px;
  font-weight: 700;
  letter-spacing: normal;
  color: #c4cfde;
}
.hero-section .hero-content h1 span {
  color: #ff0055;
}

.hero-section .hero-content h2 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 57.6px;
  font-weight: lighter;
  letter-spacing: normal;
  color: #878e99;
}

.hero-section .hero-content p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400px;
  letter-spacing: normal;
  color: #878e99;
  padding: 0px 126px 0px 0px;
}

.text {
  color: #878e99;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  /* margin-bottom: 35px; */
}
.social-box {
  width: 50px;
  height: 50px;
  background: #161b22;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.social-box:hover {
  transform: translateY(-4px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.social-box i {
  color: #d8e2f3;
  font-size: 24px;
  transition: 0.3s;
}

.social-box:hover i {
  color: #ffffff;
}

.hr {
  color:grey;
}