* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212428;
}

/* Navbar Styling */
.navbar {
  background-color: #212428;
  font-family: Poppins, sans-serif;
  padding: 15px 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar-nav .nav-link {
  font-size: 16px;
  margin: 5px 20px;
  text-transform: uppercase;
  color: white;
  transition: 0.3s;
}

/* Hover effect */
.navbar-nav .nav-link:hover {
  color: #f9004d;
  transform: translateY(-2px);
}

/* Cart icon */
.nav-item i {
  margin-top: 15px;
  color: #ffffff;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn {
  font-weight: bold;
  margin: 13px;
  margin-left: 25px;
  background: #1f1f1f;
  width: 135px;
  height: 56px;
  cursor: pointer;
  color: red;
  transition: 0.3s ease;
}

.btn:hover {
  color: red;
  background-color: #1f1f1f;
  transform: translateY(-3px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.cart-box {
  position: relative;
  width: 45px;
  height: 45px;
  background: #1f1f1f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Cart Icon */
.cart-box i {
  color: #fff;
  font-size: 20px;
}

/* Notification badge */
.cart-count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ff0055;
  color: #fff;
  width: 22px;
  height: 22px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover animation */
.cart-box:hover {
  transform: translateY(-3px);
}

/* thise is hero section */

.hero-section {
  font-family: Montserrat, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.hero-section .hero-content h3 {
  color: #878e99;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  line-height: 26.6px;
  margin: 0px 0px 20px;
  letter-spacing: 5px;
}

.hero-section .hero-content h1 {
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  line-height: 62px;
  font-weight: 700;
  letter-spacing: normal;
  color: #c4cfde;
}
.hero-section .hero-content h1 span {
  color: #ff0055;
}

.hero-section .hero-content h2 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 57.6px;
  font-weight: lighter;
  letter-spacing: normal;
  color: #878e99;
}

.hero-section .hero-content p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400px;
  letter-spacing: normal;
  color: #878e99;
  padding: 0px 126px 0px 0px;
}

.text {
  color: #878e99;
  font-size: 14px;
  font-family: Poppins, sans-serif;
}
.social-box {
  width: 50px;
  height: 50px;
  background: #161b22;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.social-box:hover {
  transform: translateY(-4px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.social-box i {
  color: #d8e2f3;
  font-size: 24px;
  transition: 0.3s;
}

.social-box:hover i {
  color: #ffffff;
}

.feature-card {
  background-color: #1e1e28;
  padding: 40px;
  border-radius: 15px;
  margin-bottom: 30px;
  height: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.feature-card i {
  font-size: 48px;
  color: #f9004d;
  margin-bottom: 20px;
}

.feature-card h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
}

.feature-card p {
  color: #c5c5c5;
  line-height: 1.8;
}

/* thise is  Portfolio Section */

.text-center p {
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Poppins, sans-serif;
}

.text-center h1 {
  color: #c4cfde;
  letter-spacing: normal;
  font-weight: 700;
  line-height: 72px;
  font-size: 60px;
  font-family: Montserrat, sans-serif;
}

.navbar-nav .nav-item button {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 120px;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 30.4px;
  font-weight: 400;
  letter-spacing: normal;
  color: #878e99;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* thise is butten tag css */

.btn-filter {
  background: #1f1f22;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  color: #fff;
}

.btn-filter:hover {
  background: #ff004f;
}

/* thise card 1 */
.portfolio-card {
  width: 413px;
  height: 450px;
  background: #1a1b1e;
  border-radius: 25px;
  transition: 0.3s;
  padding: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-card {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.portfolio-card:hover .img-card img {
  transform: scale(1.15);
}

.top-icon {
  position: absolute;
  top: 10px;
  right: 8px;
  padding: 1px 3px;
  border-radius: 8px;
  font-size: 18px;
}

.portfolio-card .gallery {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 22.8px;
  font-weight: 400;
  letter-spacing: normal;
  color: red;
}

.portfolio-card .text {
  font-family: Poppins, sans-serif;
  font-size: 23px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: normal;
  color: #c4cfde;
}

.likes {
  color: #c4cfde;
  font-size: 13px;
  font-family: Poppins, sans-serif;
  line-height: 24.7px;
  font-weight: Regular (400);
  letter-spacing: normal;
}

.portfolio-card h5 {
  color: #c4cfde;
}

/* thise card 1 */
.locked {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.lock-box {
  font-size: 35px;
  text-align: center;
  color: #fff;
}

.btn {
  text-align: center;
}

.see-btn {
  background: #2a2a2a;
  color: #ff2b63;
  border: none;
  border-radius: 12px;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  gap: 15px;
  transition: transform 0.4s ease;
}

.see-btn:hover {
  transform: translateY(-10px);
  box-shadow: #1f1f22;
}

.spinner-border {
  width: 18px;
  height: 18px;
  border-width: 2px;
  color: #ff2b63;
}
