* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #212428;
}

.nav {
  background-color: #212428;
  color: white;
}
.nav-link {
  gap: 10px;
  color: white;
  cursor: pointer;
}

.nav-item .nav-link:hover {
  color: red;
}
